@import "../../../assets/sass/variables";

.error-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;

  &__title {
    margin-bottom: $spacing-mobile;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}
