@import "../../../assets/sass/variables";

.photo {
  width: 300px;
  max-height: 400px;
  overflow: hidden;

  @media (min-width: $tablet-portrait) {
    max-height: 650px;
  }

  &--maximized {
    width: unset;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    display: block;
  }

  &__initials {
    display: flex;
    border: 1px solid $gray-2;
    border-radius: 15px;
    background-color: $gray-2;
    padding: 3px 2px;
    font-size: $font-size-sm;
    color: $gray-3;
  }
}
